.contents{
  margin:20px;
  text-align: center;
}

table{
  width:45%;
  float:left;
  font-size:30px; 
  padding:0 15px;
  margin-bottom:20px;
  word-break: all;
  display: -webkit-box;
  -webkit-box-pack: center;
  word-break: break-all;
  background-color:#F0F8FF;
  margin-left:40px;
  margin-top:40px;
}
.social-login{
  display:flex;
  justify-content: space-between;
  position: relative;
  bottom:8px;
}
.login-f{
 margin-bottom:20px;
}
.login-t{
 margin-bottom:20px;
}
.login-g{
 margin-bottom:20px;
}
.social-register{
display:flex;
  justify-content: space-between;
  position: relative;
  bottom:8px;
}
.register-f{
  margin-bottom:20px;
}
.register-t{
margin-bottom:20px;
}
.register-g{
margin-bottom:20px;
}
td{
  font-size:20px;
  max-width: 300px;
/*   overflow-wrap: break-word; */
}
h1{
text-align: center;
}
h2{
width: 400px;
text-align: center;
word-break: break-all;
margin-right:auto; 
margin-left:auto;

}
.username{
  text-align:center;
  /* margin-left:200px; */
}
.user-setting{
  float:right;
  margin-right:200px;
}
.users-post{
  /* display:inline-block; */
  padding-top: 50px;
  
}
/* .show-posts{
  width:50%;
  display:flex;
  text-align: center;

  
} */
.user-detail{
  text-align:center;
}
.profile{
  float:left;
  margin-top:30px;
  margin-left:30px;
}
.user-icon{
  display:flex;
}
.category{
  display:flex;
  justify-content: space-evenly;
  position: relative;
  bottom:25px;
}
.category-url{
display:flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 5px;
}
.switch__label {
width: 44px;
position: relative;
display: inline-block;
}
.switch__content {
display: block;
cursor: pointer;
position: relative;
border-radius: 30px;
height: 20px;
-webkit-transition: all .1s .4s;
-moz-transition: all .1s .4s;
-ms-transition: all .1s .4s;
-o-transition: all .1s .4s;
 transition: all .1s .4s;
overflow: hidden;
}
.switch__content:before {
content: "";
display: block;
position: absolute;
width: calc(100% - 4px);
height: calc(100% - 4px);
top: 0;
left: 0;
border: 1.5px solid #000000;
border-radius: 20px;
background-color: #fff;
}
.switch__content:after {
content: "";
display: block;
position: absolute;
background-color: transparent;
width: 0;
height: 100%;
top: 0;
left: 0;

border-radius: 20px;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-ms-transition: all .5s;
-o-transition: all .5s;
 transition: all .5s;
}
.switch__input {
display: none;
}
.switch__circle {
display: block;
top: 5px;
left: 5px;
position: absolute;
width: 10px;
height: 10px;
-webkit-border-radius: 10px;
 border-radius: 10px;
background-color: #000000;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-ms-transition: all .5s;
-o-transition: all .5s;
 transition: all .5s;
}
.switch__input:checked ~ .switch__circle {
left: 29px;
background-color: #fff;
}
.switch__input:checked ~ .switch__content {

border-color: transparent;
-webkit-transition: all 0s;
-moz-transition: all 0s;
-ms-transition: all 0s;
-o-transition: all 0s;
 transition: all 0s;
}

.switch__input:checked ~ .switch__content:after {
background-color: #0078D7;
width: 100%;
}
.restricted-content{
  color: transparent;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }
.comment-box{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.comment-button{
  display: block;
  margin-left: 57%;
}
.limit-line{
  text-align: center;
}
.comments-row{
  width: 50%;
  float:left;
  display: -webkit-box;
  -webkit-box-pack: center;
  word-break: break-all;
  margin-top: 100px;
  
  
}
.comment-user{
  font-size:25px;
}
.comment-content{
  font-size:20px;
}
.comment-paragraph{
  text-align: center;
margin-right:auto; 
margin-left:auto;
margin-top: 100px;
}
.tip-paragraph{
  text-align: center;
  margin-right:auto; 
margin-left:auto;
}
.tip-price{
  display: block;
  margin-left: 40%;
}
.tip-button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.tips-row{
  width: 50%;
  float:left;
  display: -webkit-box;
  -webkit-box-pack: center;
  word-break: break-all;
}
.tips-box{
  border-collapse: collapse;
}
.tips-price{
  font-size: 25px;
}
.like-post{
  text-align: center;
  margin-right:auto; 
margin-left:auto;
}
.like-paragraph{
  margin-top:500px;
  text-align: center;
  margin-right:auto; 
margin-left:auto;
}
.like-button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.delete-post{
  font-size: 70%;
  width: 80px;
  height: 30px;
}
.comment-errorbox{
   text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.comment-error{
    font-size:15px;
     text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.comment-message{
    font-size:15px;
     text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.post-icon{
 margin-left:550px;
}

